<div class="banner">
  <h1>
    Armed conflicts predicting tool
  </h1>
  <button [scrollTo]="'#fileLoader'" [scrollDuration]="600" [scrollOffset]="-66">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       version="1.1" id="Capa_1"
       x="0px" y="0px"
       width="512px" height="512px"
       viewBox="0 0 220.682 220.682" style="enable-background:new 0 0 220.682 220.682;"
       xml:space="preserve">
	  <polygon points="110.341,220.682 210.043,120.98 181.758,92.695 110.341,164.113 38.924,92.695 10.639,120.98  " fill="#FFFFFF"/>
	  <polygon points="210.043,28.284 181.758,0 110.341,71.418 38.924,0 10.639,28.284 110.341,127.986  " fill="#FFFFFF"/>
  </svg>
  </button>
</div>
